<form #login="ngForm" (ngSubmit)="onSubmit()">
  <h3 class="mat-h3">Bem-vindo(a) de volta!</h3>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" name="email" matInput required ngModel>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input type="password" name="password" matInput required ngModel>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  </p>

  <button mat-raised-button type="submit" color="primary" [disabled]="login.invalid">
    Entrar
  </button>
</form>
